body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}
.image-container {
    max-width: 90%; /* restricts the image to 90% of the container width */
    margin: 20px auto; /* centers the image and adds space around */
}
.responsive-image {
    max-width: 100%; /* makes the image responsive to the width of its container */
    height: auto; /* maintains the aspect ratio */
}
h1, h2 {
    color: #ff8c00; /* Orange color for headers */
}
p {
    font-size: 18px;
    line-height: 1.6;
}
a {
    color: #ff8c00; /* Orange links */
    text-decoration: none;
    font-weight: bold;
    background-color: #ffd700; /* Yellow background */
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
a:hover {
    background-color: #ff8c00; /* Darker orange on hover */
    color: #fff;
}
